:root{
    background-color: dimgrey;
}
#mainContainer{
    display: grid;
    width: 85vw;
    min-width: 500px;
    min-height: 600px;
    height: 100vh;
    border-style: solid;
    border-color: aqua;
    grid-template-columns: minmax(100px, 15%) 1fr;
    grid-template-rows: minmax(50px, 10%) 1fr 1fr;
    margin: auto;
}
.header{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 10px;
}
#mainContainer>.sideBar{
    background-color: rgb(58, 74, 214);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;;
    border-radius: 20px;
}
#mainContainer>.midContent {
    background-color: rgb(84, 120, 202);
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    border-radius: 10px;
    padding: 5px;
}
.midContent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 40%);
}
.midContent>.midContentMain{
    border-style: solid;
    border-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    overflow: auto;
}
.midContentMain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
}
.midContentMainSub{
    background-color: rgb(4, 55, 130);
    text-align: center;
}
.midContentSide{
    border-style: solid;
    border-color: white;
    grid-column-start: 3;
    grid-column-end: 4;
}
.sideBar{
    display: grid;
    grid-template-rows: 50px repeat(4, minmax(50px, 10%));
}
.sideBarSubLogo{
    background-color: aquamarine;
    border-radius: 10px;
}
.sideBarSub{
    padding: 5px;
}
.sideBarHeading{
    font: 10px;
}
.sideBarLogo{
    width: 15%;
}
.websitePic{
    width: 90%;
    transition: 1s;
}
.websitePic:hover{
    scale: 1.5;
}